// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn-submit-sign-out {
	display: inline !important;
    border: none !important;
    background: none !important;
    font-size: 11px !important;
    color: #23242e !important;
    margin: auto !important;
}

.search-prod-img {
	width: 136px;
}

.cs-user-option .cs-login button.close > span {
	position: unset;
}

.product-slide {
	position: relative;
	&-poster-download {
		display: none;
		position: absolute;
    	bottom: 16px;
    	right: 5px;
    	cursor: pointer;
		img {
			width: 50px !important;
		}
	}
	&:hover &-poster-download {
		display: block;
		
	}
}

.cs-contact-form .cs-btn-submit input[type=submit] {
	min-width: 226px;
}
