.callBtn{
    position: fixed;
    bottom: 45%;
    right: 5%;
    height: 100px;
    width: 100px;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #31d7cc;
    box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
    0 25px 20px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease;
}

.callBtn:hover {
	background: #31d7cc63;
	color: #31d7cc;
	box-shadow: inset 0 0 0 3px #31d7cc;
  transition: transform 1s ease;
}

.callBtn:active, .callBtn:focus {
    outline: none !important;
  }
.callBtn::-moz-focus-inner {
    border: 0 !important;
  }