
.incvideo {
	position: absolute;
	max-width: 99%;
	max-height: 100%;
	border-radius: 5px;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translate(0, -50%);
}
.localvideo{
	border-radius: 5px;
	width: 200px;
	position: absolute;
	top:0;
	right: 0;
	margin-right: .2%;
	margin-top: .2%;
}
.allButtons {
	display: inline-block;
	margin: 10px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.456);
	font-size: 8px;
	padding: 0;
	outline: none !important;
	transform: scale(1);
	transition: transform 1s ease;
	
}
.allButtons:active, .allButtons:focus {
	outline: none !important;
  }
.allButtons:hover{
	transform: scale(1.1);
	transition: transform 1s ease;
  }
.audio-btn{
	background-color: rgb(84, 0, 123);
	color: white;
}
.video-btn{
	background-color: rgb(10, 77, 154);
	color: white;
}
.exit-btn{
	background-color: rgb(150, 0, 0);
	color: white;
}
.audio-out-btn{
	background-color: rgb(147, 134, 32);
	color: white;
}
.line{
	text-decoration: line-through;
}
.content{
	margin: 1% auto;
	padding: 2% 5%;
}
.media-view {
	position: relative;
	/* display: flex; */
	flex-direction: column;
	background: linear-gradient(-45deg, #b8664d, #8b0002, #00b5af, #175f4e);
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
	/* min-width: 700px; */
	height: 600px;
	text-align: center;
	border: none;
	-webkit-box-shadow: 8px 10px 9px -3px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 8px 10px 9px -3px rgba(34, 60, 80, 0.6);
	box-shadow: 8px 10px 9px -3px rgba(34, 60, 80, 0.6);
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
	}
  @media (min-width: 768px) {
	.modall-content {
	  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
  }
  .info-input {
    width: 100%;
    border: none;
    background-color: rgba(100, 148, 237, 0);
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 16px;
}
.media-overlay{
	border: solid black;
	background-color: black;
	height: 80%;
	width: 95%;
	margin: 5px auto;
	border-radius: .3rem;
	position: relative;
}
.buttons-div{
	/* border: solid green; */
	height: 20%;
}
#answerButton{
	z-index: 1000;
	position: absolute;
	font-size: 50px;
	top: calc(50% - 100px);
	right: calc(50% - 100px);
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: green;
	transform: scale(1);
	transition: transform 1s ease;
	box-shadow:inset -5px -5px 5px 0 rgba(24, 24, 24, 0.5), 
             inset 5px 5px 5px 0 rgba(147, 147, 147, 0.5);
	animation: sizer 2s linear infinite;
}
#answerButton:active, #answerButton:focus {
	outline: none !important;
  }
 .hide{
	 display: none;
 } 
  @keyframes sizer {
  0% { transform: scale(.9); }
  50% { transform: scale(1.1); }
  100% { transform: scale(.9); }
  }