body{
	background-color:transparent;
}
.incvideo {
	max-width: 99%;
	max-height: 100%;
	border-radius: 5px;
	margin: 0 auto;
}
.localvideo{
	border-radius: 5px;
	width: 200px;
	position: absolute;
	top:0;
	right: 0;
	margin-right: 5%;
	margin-top: 5%;
}
.allButtons {
	display: inline-block;
	margin: 10px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	box-shadow: 0 3px 20px rgba(0,0,0,.25);
	font-size: 8px;
	padding: 0;
	outline: none !important;
}
.allButtons:active, .allButtons:focus {
	outline: none !important;
  }
.audio-btn{
	background-color: rgb(150, 0, 0);
	color: white;
}
.video-btn{
	background-color: rgb(10, 77, 154);
	color: white;
}
.exit-btn{
	background-color: rgb(84, 0, 123);
	color: white;
}
.audio-out-btn{
	background-color: rgb(0, 113, 49);
	color: white;
}
.line{
	text-decoration: line-through;
}
.content{
	margin: 2% auto;
	padding: 2% 5%;
}
.media-view {
	position: relative;
	display: flex;
	flex-direction: column;
	background: linear-gradient(-45deg, #ee7752, #76002d, #23a6d5, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
	/* min-width: 700px; */
	height: 600px;
	text-align: center;
	box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
    0 25px 20px rgba(0, 0, 0, 0.1);
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
	}
  @media (min-width: 768px) {
	.modall-content {
	  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
  }
  .info-input {
    width: 100%;
    border: none;
    background-color: rgba(100, 148, 237, 0);
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 16px;
}
.media-overlay{
	border: solid black;
	background-color: black;
	height: 80%;
	width: 95%;
	margin: 5px auto;
	border-radius: .3rem;
}
.buttons-div{
	/* border: solid green; */
	height: 20%;
}